body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(10px);
}

nav h2 {
  color: #00f2ff;
}

nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

/* Hero */
.hero {
  text-align: center;
  padding: 100px 20px;
}

.hero h1 {
  font-size: 40px;
}

.hero span {
  color: #00f2ff;
}

/* Button */
.btn {
  margin-top: 20px;
  padding: 12px 30px;
  border-radius: 30px;
  border: none;
  background: linear-gradient(45deg, #00f2ff, #007bff);
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  box-shadow: 0 0 20px #00f2ff;
  transform: scale(1.05);
}

/* Section */
.section {
  padding: 50px 20px;
  text-align: center;
}

/* Cards */
.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: rgba(255,255,255,0.05);
  padding: 20px;
  width: 250px;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 20px #00f2ff;
}
